<html>
  <head>
    <title>Bangla-WordNet</title>
    <style></style>
  </head>
  <body bgcolor="#DCD4A7">

<!-- Block Header -->    
<div id="header" width="100%" height="50px" style="background-color:white;color:#79350A;border:2px solid black;">
{% block header %}
<p><b><h2>SemanticNet of Human Body Parts</h2></b></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&#x09AE&#x09BE;&#x09A8;&#x09AC;&#x09BF;&#x0995;&nbsp;&#x09B8;&#x0982;&#x09B8&#x09CD&#x09A5&#x09BE&nbsp;&#x0985&#x0982;&#x09B6&#x09C7;&#x09B0;&nbsp;&#x09B6;&#x09AC&#x09CD&#x09A6&#x09BE;&#x09B0&#x09CD&#x09A5;&#x09AC&#x09BF;&#x09A6&#x09CD&#x09AF&#x09BE;&nbsp;&#x09B8;&#x09AE&#x09CD&#x09AC;&#x09A8&#x09CD&#x09A7&#x09C0;&#x09DF;&nbsp;&#x09A8&#x09C7;&#x099F;
{% endblock header %}
</div>
<!-- Endblock Header -->

<br />
<br />
<div id="body" style="border-top:2px solid black;width:100%;height:400px;">
<br />
<br />

<!-- Block Figure -->
<div id="figure" style="width:300px;height:400px;float:left;">
{% block figure %}
<p>Figure Goes Here</p>
{% endblock figure %}
</div>
<!-- Endblock Header -->

<!-- Block Search_Container -->

<div id="search_container" style="border-left:2px solid black;color:#79350A;padding-left:10px;height:400px;width:600px;float:left;">
{% block search_container %}
<br />
<br />

{% endblock search_container %}
</div>
<!-- Endblock Search_Container -->

</div>
</body>
</html>
