{% extends "interface/demo.html" %}
{% block results %}
<div id="usage" style="float:right;max-width:70%;max-height:100%;background-color:#FCF8E5;border:2px solid #CFC69D;">
<p><ol>[<i>To enable on-screen keyboard</i>]
    <li> Click the keyboard icon, appearing beside the search box</li>
    <li> Select a Bengali layout from the scroll down menu at the bottom right hand corner.</li>
    <li> Enter your word by choosing the letters from the keyboard.</li>
      </ol>
</div>
{% endblock results %}
