{% extends "interface/base.html" %}

<div id="body" style="border:2px solid black;width:100%;height:400px;">

<div id="search_container" style="color:#79350A;padding-left:10px;height:400px;width:600px;border:2px solid black;float:left;">
<br />
<br />

<!-- Block Search_Container -->
{% block search_container %}

<!-- Block Search -->
{% block search %}
<div id="search_box" style="font-size:15;background-color:#FCF8E5;padding-left:5px;border:1px solid #CFC69D;width:400px;height:100px;">
<p>Enter the name of the body part::&#x09B8;&#x0982;&#x09B8&#x09CD&#x09A5&#x09BE;&nbsp;&#x0996;&#x09A8&#x09CD&#x09A1&#x09C7;&#x09B0;&nbsp;&#x09A8&#x09BE&#x09AE;&nbsp;&#x09A6&#x09BF&#x09A8;</p>
{% block form %}
<form name="search" action="../index/" method="post">
{% csrf_token %}
{{ form.word }}
<input type="submit" value="Search::&#x09B8;&#x09A8&#x09CD&#x09A7&#x09BE;&#x09A8;&nbsp;&#x0995;&#x09B0&#x09C1;&#x09A8;" />
</form>
{% endblock form %}
</div>
{% endblock search %}
<!-- Endblock Search -->

<!-- Block Search Results -->
{% for i in row %}
{% for j in i %}
<br />
<br />
<div id="results" style="width:400px;height:100px;background-color:#FCF8E5;border:2px solid #CFC69D;">
<p>&#x09B6;&#x09AC&#x09CD&#x09A6;-&nbsp;&nbsp;{{ word }}</p>
<p>&#x0985;&#x09B0&#x09CD&#x09A5;-&nbsp;&nbsp;{{ j }}</p>
</div>
{% endfor %}
{% endfor %}
<!-- Endblock Search Results -->

{% endblock search_container %}
<!-- Endblock Search_Container -->



